<div class="container">
    <div class="row">
        <div class="col-lg-3  col-xs-3">
            Newsfeed<br>
            Event<br>
            Group<br>
        </div>
        <div class="col-lg-6 col-xs-6 ">
            <div class="row">
                <h2>ユーザ詳細</h2>
                    <div class="profile">
                        <%= profile_img(user) %>
                        <%= user.name %><br>
                    </div>
                    <hr>
                    <div class="col-sm-6">
                      <div class="panel panel-default">
                          <div class="panel-heading">フォロワー一覧</div>
                          <div class="panel-body">
                              <% user.followers.each do |follower|%>
                              <%= follower.name %><br>
                              <% end %>
                          </div>
                      </div>
                    </div>


                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">フォロー一覧</div>
                            <div class="panel-body">
                                <% user.followed_users.each do |followed_user|%>
                                <%= followed_user.name %><br>
                                <% end %>
                            </div>
                        </div>
                    </div>

                    </div>


            </div>
            <div class="col-lg-3 col-xs-3"></div>
        </div>
    </div>
